body {
  background: #04ac8f;
  font-family: "Montserrat", sans-serif;
  color: #2b475c;
}

.App {
  max-width: 680px;
  margin: 30px auto;
}

.App h2 {
  color: #fff;
  font-size: 34px;
  position: relative;
  left: 8px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  left: 8px;
}

.App footer a {
  font-size: 11px;
  text-decoration: none;
  color: #2b475c;
}

.App footer a:hover {
  color: #fff;
}
