body {
  background: #04ac8f;
  font-family: "Montserrat", sans-serif;
  color: #2b475c;
}

.App {
  max-width: 740px;
  margin: 30px auto;
}

.App h2 {
  color: #fff;
  font-size: 34px;
  position: relative;
  left: 8px;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  left: 8px;
}

.App footer a {
  font-size: 11px;
  text-decoration: none;
  color: #2b475c;
}

.App footer a:hover {
  color: #fff;
}

@media (max-width: 768px) {

.App {
  max-width: 680px;
  
}

  .App h2 {
    font-size: 28px;
    text-align: center;
  }
  .App footer {
    font-size: 10px;
    text-align: center;
  }

  .App footer a {
  font-size: 10px;
}
}

@media (max-width: 576px) {

.App {
  max-width: 500px;
}

.App footer {
    font-size: 9px;
  }
   .App footer a {
  font-size: 9px;
}
}