.Weather {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .form-control {
  border-color: #e8fbf8;
}

.Weather .btn {
  background-color: #e8fbf8;
  }

.Weather .btn:hover {
  background-color: #04ac8f;
  color: #fff;
}


